$corPrincipal:#f5f6fa;
$corSecundaria: #fff;
$corTercearia:#44bd32;
$corQuartearia: #44bd90;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: $corPrincipal;
    
}

li {
    list-style: none;
}

header {
    background-color: #182C61;
    position: sticky;
    top: 0;
    left: 0;

    h1 {
    color: $corSecundaria;
    }
    .nav-link {
    color: $corSecundaria;
    display: inline;
    }
    .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    }
    .Produtos {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;
    } 
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.menu {
    display: flex;
}

.menu li {
    font-weight: bold;
    margin-left: 24px;
}

.menu li a {
    color: $corSecundaria;
    text-decoration: none;
}

section {
    
    padding: 56px 0;

    button {
    display: block;
    background-color: $corTercearia;
    color: $corSecundaria;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    text-decoration: none;
    }

    img {
    width: 100%;
    border-radius: 16px
    }
    }

    .Produtos-button:hover {
    background-color: $corQuartearia;
    }

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .Produtos {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .Produtos {
        display: block;
    }

    .Produtos {
        margin-bottom: 32px;
    }
}